<section id="foodList">

    <form method="post" action="/search">
        <input type="search" size="10" name="foodName" placeholder="start typing" pattern="[A-Za-z]*" title="letters only" autofocus>
        <label for="vegan"> v<span class="bigScreen">egan</span> </label> 
        <input type="checkbox" name="vegan">
        <label for="organic"> o<span class="bigScreen">rganic</span> </label> 
        <input type="checkbox" name="organic">
        <input type="submit" value="Search">
    </form>

    <ul>

        {{#each foods}}

        <li>
            <img class="browsePage" src="https://source.unsplash.com/{{this.photo}}">
            <a href="/foods/{{this._id}}">{{this.name}}</a>
        </li>

        {{/each}}
        
    </ul>
</section>